<div class="home-main">
    <div class="home-Contents">
        <h1>Make <br> remote work</h1>
        <p>Get your in sync. no matter your location. <br>
           streamline processes. Create team rituals, and <br>
           watch productivity soar
        </p>
        <button class="btn action">Learn more</button>
        <div class="brands">
            <img src="../../../assets/images/client-databiz.svg" alt="" height="18">
            <img src="../../../assets/images/client-audiophile.svg" alt="" height="25">
            <img src="../../../assets/images/client-meet.svg" alt="" height="22">
            <img src="../../../assets/images/client-maker.svg" alt="" height="22">
        </div>
    </div>
    <div class="home-banner">
    </div>
</div>
